*{
    margin:0%,
}
.dashboard{
    display: flex;
    height: 100vh;
    border: 2px solid black;
    background-color: #fff;
}
button{
    height: fit-content;
    padding: 5px;
    width: fit-content;
    color: white;
    background-color:rgb(66, 154, 209);
    margin: 5px;
    padding: 4px;
    font-size: 14px;
}
button:hover{
background-color: white;
color: black;
border-radius: 5px;
margin: 6px;
font-size: 16px;
}
.dashboard-Container{
    display: flex;
    width: 100vw;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 15px; */
    padding: 10px;
    background-color: rgba(14, 201, 234, 0.845);
    height: max-content;
    align-items: center;
    position: sticky;
    width: 100vw;
    /* background-color:greenyellow; */
}

.header-left >p{
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 40vw;
}
#quote{
    color:red;
    font-style: italic;
    font-size: larger;
}
.books-container{
    display: flex;
    height: 100vh;
    /* background-color: rgb(242, 241, 239); */
    flex-wrap: wrap;
}
.book{
    height: max-content;
    width: 30vw;
    margin: 10px;
    padding: 10px;
    /* border: 2px solid black; */
    background-color: white;
    align-items: center;
    text-align: center;
}
.book:hover{
    background-color: aliceblue;
}
.book-details>h3{
    font-size: medium;
    font-weight: 450;
    margin: 5px;
}
.book-details>h3>span{
    font-size: medium;
    font-weight: 300;
}
.header-right{
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-around;
    align-items: center;

}
.header-middle{
    display: flex;
    height: max-content;
    width: max-content;
    /* background-color: black; */
    /* border: 2px solid black; */
    border-radius: 5px;
}
input {
    width: 25rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none;
    margin:2px
  }